.tab-content {
    display: block;

    &.is-active {
      display: block;
    }
  }

.upload-btn{
  top:25vh;
  left: 18vw;
  &.is-uploaded {
    top: -2vh;
  }
}
.image{
  margin-left: auto;
	margin-right: auto;
}

#b1{
  top:50%;
  display: none;
  width:60%;
  margin: 0 auto;
}

.progress{
  display: none;
  width:60%;
  margin-top:45% !important;
  margin: 0 auto;
}

#text{
  display: none;
  text-align: center;
}

#i1{
  // border:1px solid lightgrey;
  display: none;
  height: 100%;
  width: 100%;
  position:absolute;top:0px;left:0px;right:0px;bottom:0px;

}

#b2{
  top:-2vh;
  margin: 0 auto;
  width: 50%;
  display: none;
}

.container{
 display: none;
 width:628px;

}
