<div class="tabs is-toggle columns is-gapless">
  <ul>
    <li id="n1" (click)="switch(1)" class="column is-half is-active">
      <a>
        <span>Select File to convert</span>
      </a>
    </li>
    <li id="n2" (click)="switch(2)" class="column is-half">
      <a>
        <span>Master Copy</span>
      </a>
    </li>
    <li id="n3" style="display:none;" (click)="switch(3)">
      <a>
        <span>Braille</span>
      </a>
    </li>
  </ul>
</div>
<div class="columns tabs-content">
  <div class="column is-half">
  <div id="file" class="file has-name is-boxed upload-btn">
    <label class="file-label">
      <input class="file-input" type="file" #file accept='image/*' (change)="preview(file.files)">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fa fa-upload"></i>
        </span>
        <span class="file-label">
          Choose a file…
        </span>
      </span>
      <span id="file-name" class="file-name">
        No File Selected
      </span>
    </label>
  </div>
  <div id="s1" style="height: 81.5vh; overflow: auto;">
    <img class="image" [src]="imgURL" *ngIf="imgURL">
  </div>
</div>
<div class="column is-half">
    <a class="button is-link" id="b2">Generate Braille</a>
  <div id="s2"  style="height: 81.5vh;">
      <a class="button is-link" id="b1" 
      (click)="generate_master_copy()">Generate Master Copy</a>
      <progress id="progress" class="progress is-medium is-link" max="100"></progress>
      <p id="text">Generating...</p> 
      <div id="c1" class="container" style="height: 80vh;">
      <iframe scrolling="yes" #frame id="i1" srcdoc=""></iframe>
      </div>
  <!-- <div id="s3" class="tab-content">
    <p>Content 3</p>
  </div> -->
</div>
</div>