<div class="tabs is-toggle columns is-gapless">
  <ul>
    <li id="n1" (click)="switch(1)" class="column is-half is-active">
      <a>
        <span id="original">Select File to convert</span>
      </a>
    </li>
    <li id="n2" (click)="switch(2)" class="column is-half">
      <a>
        <span>Master Copy</span>
      </a>
    </li>
    <li id="n3" style="display:none;"  class="column is-half" (click)="switch(3)">
      <a>
        <span>Braille</span>
      </a>
    </li>
  </ul>
</div>
<div class="columns tabs-content">
  <div id="tab1" class="column  is-half" [@slide]="isRightVisible? 'right' : 'left'">
  <div id="s1" style="height: 81.5vh; overflow: auto;">
    <img class="image" src="../../../assets/text.jpg">
  </div>
</div>
  <a class="button is-link" id="b2" (click)="generate_braille()">Generate Braille</a>
  <div id="s2" [@slide]="isRightVisible? 'right' : 'left'" class="column is-half" style="height: 81.5vh;">
      <a class="button is-link" id="b1" 
      (click)="generate_master_copy()">Generate Master Copy</a>
      <progress id="progress" class="progress is-medium is-link" max="100"></progress>
      <p id="text">Generating...</p> 
      <div id="c1" class="container">
      <iframe scrolling="yes"  id="i1" srcdoc=""></iframe>
      </div>
      </div>
      <div id="s3">
          <progress id="progress1" class="progress is-medium is-link" max="100"></progress>
          <p id="text1">Generating...</p> 
          <p>Content 3</p>
      </div>
</div>
