  <div id="file" class="file has-name is-boxed upload-btn">
    <label class="file-label">
      <input class="file-input" type="file" #file accept='image/*' (change)="preview(file.files)">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fa fa-upload"></i>
        </span>
        <span class="file-label">
          Choose a file…
        </span>
      </span>
      <span id="file-name" class="file-name">
        No File Selected
      </span>
    </label>
  </div>