

#file{
    position: absolute;
    left:42%;
    top:25%;
    // margin: 0 auto;
    background-color: #f3f3f3be;
    border-radius: 0.25rem;
    border: 1px #2d9aad solid;
}


  .panes{

      width: 100%;
      margin-top: 55vh;

      background-image: radial-gradient(
        circle,
        #2d9aad,
        1.5px,
        #2d9aad,
        1.5px,
        white
        );
        background-size: 2rem 2rem;
        height: 10rem;
      
  }

 .pane{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     display: inline-block;
     margin-left:5%;
     margin-right:5%;
     width: 23%;
     text-align: center;
     background-color: #f3f3f3be;
     border-radius: 0.25rem;
     border: 1px #2d9aad solid;
     padding-top:60px;
     padding-bottom: 60px;
    }
.sep__desc{
    height: 2px;
    background-color: #333;
    width: 100px;
    margin: 1rem auto;
}