<div class="container">
  <div class="container--background">
      <div class="dell-logo">
          <img src="../../../assets/Dell_Logo_Blue_rgb.png">
        </div>
        <br>
        <h1 class="login__title">BrailleOCR</h1>
        <br>
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="text" placeholder="Enter Username">
        <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
      </div>
      <br>
      <div class="control has-icons-left">
        <input class="input" type="password" placeholder="Enter Password">
        <span class="icon is-small is-left">
          <i class="fa fa-key"></i>
        </span>
      </div>
    </div><br>
    <div class="field columns is-centered">
      <a class="button is-rounded has-text-white login__button" (click)="login()">
        Login
      </a>
    </div>
  </div>
</div>