<nav class="navbar is-fixed-top" aria-label="">
  <div class="navbar-brand">
    <a class= "" href="#">
       <img src= "../../assets/Dell_logo_6_.svg" class="dell-logo"> 
    </a>
    <a class= "navbar-item ssp-heading has-text-white" href="#">
      DBraille
    </a>
    <a role="button" class="navbar-burger burger" style="color:white;"aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class = "navbar-menu">
    <div class= "navbar-end">
        <img src= "../../assets/CSR logo.png" class="dell-logo"> 
      </div>
  </div>
</nav>
